* {
  box-sizing: border-box;
}

$defaultfont: Arial, sans-serif;

body {
  font-family: $defaultfont;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $graydark;
}

a {
  text-decoration: none;
  color: $green;

  &:hover {
    text-decoration: none;

  }
}

p {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  color: $orange;
  margin: 0;
  text-transform: uppercase;

  span {
    color: $black;
    text-transform: none;
  }
}

h2 {
  border-bottom: solid .3rem $gray;
  color: $orange;
  font-weight: normal;
  margin: 1rem 0 2rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

h3 {
  color: $black;
  font-weight: normal;
  margin: 1rem 0;
  text-transform: uppercase;
}

h4 {
  color: $black;
  margin: 1rem 0;
}

table {
  width: 100%;

  th {
    padding: 1rem;
    text-align: left;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  td {
    padding: 1rem;

    &:first-child {
      width: 20%;
    }

    @media only screen and (max-width: 768px) {
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }

  tr {
    &:nth-child(odd) {
      background-color: $graylight;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

.bg-gray {
  background-color: $graybg;

  tr {
    &:nth-child(odd) {
      background-color: $white;
    }
  }
}

.nowrap {
  white-space: nowrap;

  @media only screen and (max-width: 480px) {
    white-space: normal;
  }
}

section {
  margin: 0 auto;
  width: 1200px;
  padding: 2rem 0;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: 100%;
    padding: 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.anchor {
  position: absolute;
  left: 0px;
  top: -60px;

  @media only screen and (max-width: 950px) {
    top: -105px;
  }
}

@media print {
  nav,
  .utilities {
    display: none;
  }
}
