* {
  box-sizing: border-box;
}

$defaultfont: Arial, sans-serif;

body {
  font-family: $defaultfont;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $graydark;
}

a {
  text-decoration: none;
  color: $green;

  &:hover {
    text-decoration: none;

  }
}

p {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.tac {
  text-align: center;
}

.tac-table {
  margin: 0 auto;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

h1 {
  color: $orange;
  margin: 0;
  //text-transform: uppercase;

  span {
    color: $black;
    text-transform: none;
  }
}

h2 {
  border-bottom: solid .3rem $gray;
  color: $orange;
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem 0 2rem;
  padding-bottom: .5rem;
  //text-transform: uppercase;
}

h3 {
  color: $black;
  font-weight: normal;
  margin: 2rem 0 2rem 0;
  //text-transform: uppercase;
  font-size: 1.5rem;
}

h4 {
  color: $black;
  margin: 1rem 0;
}

@media only screen and (max-width: 400px) {
  h1, h2, h3, h4 {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

table {
  width: 100%;

  th {
    padding: 1rem;
    text-align: left;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  td {
    padding: 1rem;

    &:first-child {
      width: 20%;
    }

    @media only screen and (max-width: 768px) {
      display: block;
      width: 100%;
      padding: 0.2rem 0;

      &:first-child {
        width: 100%;
      }
    }
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: $graylight;
    }

    @media only screen and (max-width: 768px) {
      display: block;
      width: 100%;
      padding: 0.2rem 1rem;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

.bg-gray {
  background-color: $graybg;

  tr {
    &:nth-child(odd) {
      background-color: $white;
    }
  }
}

.nowrap {
  white-space: nowrap;

  @media only screen and (max-width: 480px) {
    white-space: normal;
  }

  &.normalwrap-920 {
    @media only screen and (max-width: 920px) {
      white-space: normal;
    }
  }
}


section {
  margin: 0 auto;
  width: 1200px;
  padding: 2rem 0;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: 100%;
    padding: 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.anchor {
  position: absolute;
  left: 0px;
  top: -60px;

  @media only screen and (max-width: 950px) {
    top: -105px;
  }

  @media only screen and (max-width: 550px) {
    top: -70px;
  }
}

@media print {
  nav,
  .utilities,
  .work-table td:first-child,
  .info h1 {
    display: none;
  }

  header {
    text-align: left;
  }

  section {
    width: 100%;
  }

  .page-break {
    page-break-after: always;
  }

  .info {
    text-align: left;

    p {
      max-width: 100%;
    }
  }

  .bg-gray,
  table tr:nth-child(odd) {
    background-color: $white;
  }
}
